@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff0000;
    --foreground: #d3dbc9;
  }
}

.img-1{
  width: 80%;
  background-image: url('Photos/Background/messageImage_1720590230907.jpg');
  
  background-repeat: repeat;
}


.img-2{
  width: 80%;
  background-image: url('Photos/Background/kon-bleach-58157384d12bep.jpg');
  background-repeat: repeat;
}

.img-3{
  width: 100%;
  background-image: url('Photos/Background/404a2e-background.png');
  background-repeat: repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}